<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iweb.mapper.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.iweb.model.Member" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ACCOUNT" property="account" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="CHAR" />
    <result column="BIRTH" property="birth" jdbcType="DATE" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="REMAINING" property="remaining" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ACCOUNT, PASSWORD, SEX, BIRTH, PHONE, ADDRESS, REMAINING
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from IRUNNER1.IR_PROC_MEMBER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from IRUNNER1.IR_PROC_MEMBER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.iweb.model.Member" >
    insert into IRUNNER1.IR_PROC_MEMBER (ID, ACCOUNT, PASSWORD, 
      SEX, BIRTH, PHONE, ADDRESS, 
      REMAINING)
    values (#{id,jdbcType=DECIMAL}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{birth,jdbcType=DATE}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{remaining,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.iweb.model.Member" >
    insert into IRUNNER1.IR_PROC_MEMBER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="account != null" >
        ACCOUNT,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="birth != null" >
        BIRTH,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="remaining != null" >
        REMAINING,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=DATE},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remaining != null" >
        #{remaining,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iweb.model.Member" >
    update IRUNNER1.IR_PROC_MEMBER
    <set >
      <if test="account != null" >
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="birth != null" >
        BIRTH = #{birth,jdbcType=DATE},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remaining != null" >
        REMAINING = #{remaining,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iweb.model.Member" >
    update IRUNNER1.IR_PROC_MEMBER
    set ACCOUNT = #{account,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=CHAR},
      BIRTH = #{birth,jdbcType=DATE},
      PHONE = #{phone,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      REMAINING = #{remaining,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>